<h1>Sign in</h1>

<%= form_with url: sign_in_path do |form| %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "steve@apple.com" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
        <%= link_to "Forgot your password?", password_reset_path %>
    </div>
    <div class="mb-3">
    <%= form.submit "Sign In", class: "btn btn-primary" %>
    </div>
<% end %>