<h1> Forgot your passowrd? </h1>

<%= form_with url: password_reset_path do |form| %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "steve@apple.com" %>
    </div>

    <div class="mb-3">
    <%= form.submit "Reset Password", class: "btn btn-primary" %>
    </div>
<% end %>