<div class="d-flex justify-content-between align-items-center">
    <h1> Tweets </h1>

    <% if Current.user.twitter_accounts.any? %>
    <%= link_to "Schedule a Tweet", new_tweet_path, class: "btn btn-primary"%>
    <% end %>
</div>


<% if Current.user.twitter_accounts.none? %>
<%= link_to "Connect your Twitter Account", "/auth/twitter", method: :post, class: "btn btn-primary" %>
<% end %>