<% if flash[:notice] %>
    <div class="alert alert-info mt-4" role="alert"> 
    <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-warning mt-4" role="alert"> 
    <%= flash[:alert] %>
    </div>
<% end %>