<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Scheduled Tweets", root_path, class:"nav-link" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to "Tweets", tweets_path, class:"nav-link" %>
        </li>
          <li class="nav-item">
        <%= link_to "Twitter Accounts", twitter_accounts_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "About", about_path, class:"nav-link" %>
        </li>
      </ul>
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <% if Current.user %>
        <li class="nav-item">
          <%= link_to Current.user.email, edit_password_path, class:"nav-link" %>
          </li>
        <li class="nav-item">
          <%= button_to "Logout", logout_path, method: :delete, class:"nav-link" %>
          </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", sign_up_path, class:"nav-link" %>
          </li>
        <li class="nav-item">
          <%= link_to "Login", sign_in_path, class:"nav-link" %>
          </li>
      <% end %>
      </ul>

    </div>
  </div>
</nav>